@{
    ViewBag.Title = "About Page";
    Layout = "_Layout";

    var name = "Sheikh Mohammad Farhan Rashidy";
    var studentNumber = "101512659";
    var courseCode = "COMP 2139";
    var courseSection = "CRN-50262";
    
}

<div>
    <h2>Welcome to my Application</h2>
    <p>Name: @name</p>
    <p>Student Number: @studentNumber</p>
    <p>Course Code: @courseCode</p>
    <p>Section: @courseSection</p>
</div>